.topBox{
	display: flex;
	justify-content: center;
}
.navTop{
	width: 1270px;
	margin-left: -635px;
	left: 50%;
	display: flex;
	justify-content:space-between ;
}
.logo{
	background-image: url(../../images/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.myLogo{
	/*border: 1px solid red;*/
	width: 200px;
	height: 50px;
	line-height: 50px;
}
.myLogo>a{
	color:black;
	font-size: 14px;
}
.MyOrder{
	/*border: 1px solid red;*/
	width: 200px;
	height: 50px ;
	line-height: 50px;
	text-align: center;
	background-color: #f56060;
	margin-left: 50px;
	
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}
.MyOrder>a{
	color: white;
}
.rightText{
	position: relative;
	padding-left: 64px;
	width: 160px;
	/*border-right:1px solid grey ;*/
}
.line{
	position: relative;
	left: -32px;
	top: 15px;
}
