.Body{
    width:1200px;
    margin:100px auto 0;
}
.banner{
    width:100%;
    height:370px;
    position: relative;

}
.banner .pic ul li{
    /*display: none;*/
    position: absolute;
    top:0;
    left:0;
    
}
/*.banner .btn{*/
    /*width:100px;*/
    /*height: 50px;*/
    /*border:10px solid red;*/
/*}*/
.banner .btn button{
    display: inline-block;
    position: absolute;
    z-index: 22;
    width:100px;
    height: 50px;
    border:10px solid red;
}
.banner .btn .left{

    top:calc(50% - 25px);
    left:0;
}
.banner .btn .right{

    top:calc(50% - 25px);
    right:0;
}
.banner .tab{
    position: absolute;
    bottom:0;
    left:100px;
    width:200px;
    height:50px;
    border:2px solid red;
}
.banner .tab ul{
    width:100%;
    height:100%;
}
.banner .tab ul li{
    float: left;
    width:30px;
    height:40px;
    border:2px solid blue;
    margin-left: 10px;
}