<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Generator" content="">
    <meta name="Author" content="">
    <meta name="Keywords" content="关键词">

    <!--三个bootstrap带有的meta标签-->
    <meta name="Description" content="描述">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>




    <link rel="stylesheet" href="css/vip.css">

    <script src="js/MyTop.js"></script>
    <link rel="stylesheet" href="css/myTop.css">
    <link rel="stylesheet" href="css/myFoot.css">
    <script src="http://apps.bdimg.com/libs/vue/1.0.8/vue.js"></script>
    <script src="js/vip.js"></script>
    <title>one is never too old to learn </title>
    <style>
        * {margin: 0;padding: 0;font-family: Microsoft YaHei, serif;}
        body, dl, dd, h1, h2, h3, h4, h5, h6 {margin: 0;}
        ol, ul, li {margin: 0;padding: 0;list-style: none;}
        a{text-decoration: none;}
        img{border: none;}


    </style>
</head>
<body>
    <div id="app">
        <my-top v-bind:vip="<%=infor.user%>"></my-top>

         <div class="Body">
            <div class="vipTop"></div>
            <div class="vipMiddle"></div>
             <div class="vipContent-wrap container">

                <div class="vipContent">
                <div class="left">
                    <ul>
                        <li><a href="" >会员首页</a></li>
                        <li><a href="">我的卡卷</a></li>
                        <li><a href="">我的K金</a></li>
                        <li><a href="">我的余额</a></li>
                        <li><a href="">我的订单</a></li>
                        <li><a href="">地址管理</a></li>
                        <li><a href="">个人信息</a></li>
                    </ul>
                </div>
                <div class="right">
                    <div class="top" id="flag" data-flag="<%=flag%>">
                        <span><img src="images/vipHead.png" alt=""></span>
                        <div class="btn-wrap">
                            <%    if (infor.user){%>
                             <h3><%=infor.user%></h3>
                            <%  }else{ %>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">注册</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">登录</button>
                           <%  } %>




                        </div>

                    </div>


                    <!--模态框开始-->
                    <!-- 模态框 -->
                    <div class="modal fade" id="myModal1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title">成都三人行外卖平台</h4>
                                </div>
                                <!-- 模态框主体 -->
                                <div class="modal-body">
                                    <div class="login">
                                        <form action=""  class="form-group">
                                            <p>账号：<input class="form-control inp1" name="name1" type="text"></p>
                                            <p>密码：<input class="form-control inp2" name="pwd1" type="password"></p>
                                            <p>重复密码：<input class="form-control inp3" name="pwd1" type="password"></p>
                                            <button type="button" id="reg" class="btn btn-primary">注册</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--模态框结束-->



                    <!--模态框开始-->
                    <!-- 模态框 -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title">成都三人行外卖平台</h4>
                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                </div>

                                <!-- 模态框主体 -->

                                <div class="modal-body">
                                    <div class="login">
                                        <form action=""  class="form-group">
                                            <p>账号：<input class="form-control name1" name="name1" type="text"></p>
                                            <p>密码：<input class="form-control pwd1" name="pwd1" type="password"></p>
                                            <button type="button" id="login" class="btn btn-primary">登录</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--模态框结束-->
                    <div class="bottom">
                        <div class="left">
                            <img src="images/vipMidCon1.png" alt="">
                            <p>我的卡卷</p>
                            <p class="oP">---</p>
                        </div>
                        <div class="mid">
                            <img src="images/vipMidCon2.png" alt="">
                            <p>我的K金</p>
                            <p class="oP">---</p>
                        </div>
                        <div class="right1">
                            <img src="images/vipMidCon3.png" alt="">
                            <p>我的余额</p>
                            <p class="oP">---</p>
                        </div>
                    </div>
                    <!--down组件-->
                    <my-app></my-app>
                </div>
            </div>
             </div>
        </div>
        <my-foot></my-foot>
    </div>
<script>
    'use strick';
     
</script>
</body>
</html>